<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(91258804, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/91258804" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MyResume Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.9.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  {% with messages = get_flashed_messages(category_filter="error") %}
  {% if messages %}
     {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
     {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter="info") %}
  {% if messages %}
     {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
     {% endfor %}
  {% endif %}
{% endwith %}
  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Alexey Semenov</h1>
      <p>I'm <span class="typed" data-typed-items="Software Engineer(probably...), Developer, AI enjoyer"></span></p>
      <div class="social-links">
        <a href="https://github.com/Purpletta" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://vk.com/purpletta" class="vk"><i class="bx bxl-vk"></i></a>
        <a href="https://t.me/purpletta" class="telegram"><i class="bx bxl-telegram"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>>My name is Alexey Semenov, I live in St. Petersburg, I study at the Faculty of Mathematics and Mechanics of St. Petersburg State University, 
            major in Software Engineering.At the moment I'm working on projects related to the front-end, but the area that I'm really interested in is artificial intelligence.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Developer</h3>
            <p class="fst-italic">
             Basic information:
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>18 June 2003</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>semen0valex9y@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>St. Petersburg, Russia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor(in progress)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Languages:</strong> <span>Russian(native), English(B2-C1)</span></li>
                </ul>
              </div>
            </div>
            <p>
              Of my hobbies, I can single out watching ufc, reading books related to my area of specialization.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>In projects I most often use</h2>
          <p></p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
                <div class="progress">
                      <span class="skill">JavaScript(React, Node.js, Mongoose) <i class="val">60%</i></span>
                      <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
            
              <div class="progress">
              <span class="skill">HTML <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Python(numpy,pandas)<i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C#<i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Ocaml<i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Work experience</h3>
            <div class="resume-item pb-0">
              <h4>Developer</h4>
              <h5>October 2022 - Present</h5>
              <p><em>Development of an application for the vk mini apps platform to assess the personal characteristics of the user</em></p>
              <ul>
                <li>User interface development</li>
                <li>Development of methods of interaction with the server</li> 
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Software Engineering </h4>
              <h5>March 2022 - Present</h5>
              <p><em>Saint Petersburg State University
                <br> Faculty of Mathematics and Mechanics
                <br>Saint Petersburg, Russia  
              </em></p>
              
            </div>
            <div class="resume-item">
              <h4>Certificate of Secondary General Education</h4>
              <h5>2010 - 2021</h5>
              <p><em>Lyceum №1
                <br>
                Voronezh, Russia
              </em></p>
              <p>Physics and mathematics profile, gold medal</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Additional Education</h3>
            <div class="resume-item">
              <h4>Junior Accredited Specialist in Network Technologies</h4>
              <h5>2021</h5>
              <p><em>MIREA University</em></p>
               Successfully passed the tests in the course of professional development
            </div>
            <div class="resume-item">
              <h4>Prize-winner of the regional stage of the All-Russian Olympiad of school students in mathematics and physics</h4>
              <h5>2021</h5>
              <p><em>Voronezh, Lyceum №1</em></p>
            </div>
            <div class="resume-item">
              <h4>Online Courses</h4>
              <h5>2021 - Present</h5>
              <p><em>Stepik and Coursera platforms</em></p>
              <ul>
                <li>Computer architecture</li>
                <li>Algorithms: theory and practice. Methods. Data structures</li> 
                <li>Introduction to Machine Learning</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Future projects will be published here.</p>
      <em>*Sounds of silence*
    </div> <!-- End Portfolio Section -->

    

   <!-- ======= Testimonials Section ======= -->
   <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Your comments</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          {% for comment in comments %}

          <div class="swiper-slide">
            <div class="testimonial-item">
              <h3>{{ comment.name }}</h3>
              <h4>{{ comment.created_on }}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ comment.text }}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          {% endfor %}
    
    <div class="swiper-slide">
            <div class="testimonial-item">
              <h3>Saul Goodman</h3>
              <h4>08.02.2015 07:37</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Better Call Saul!
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Feedback</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Peterhof, St. Petersburg, Russia</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>semen0valex9y@gmail.com</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{{ url_for("main_page") }}" method="post" role="form">
              <div class="row">
                <div class="form-group mt-3">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="text-center"><button class="btn btn-primary my-3" type="submit">Send Comment</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container">
      
      <div class="social-links">
        <a href="https://github.com/Purpletta" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://vk.com/purpletta" class="vk"><i class="bx bxl-vk"></i></a>
        <a href="https://t.me/purpletta" class="telegram"><i class="bx bxl-telegram"></i></a>
        
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>
